* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
}

span {
  text-shadow: #069ee5 0.5px 0 2.5px;
}

a {
  text-decoration: none;
  color: #555;
}

.img-cover {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
}

.form {
  background-color: #f4f4f4cb;
  border: 0.35rem solid #555;
  border-radius: 2rem;
  height: 60rem;
  width: 50rem;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

input {
  pad: 1rem;
  background-color: #f4f4f4;
  border: 0.35rem solid #555;
  border-radius: 1rem;
}

select,
input {
  margin-top: 1rem;
  padding: 0.8rem 7rem;
  text-align: start;
  border-radius: 0.8rem;
}

label {
  display: block;
  font-size: 1.5rem;
  /* text-align: center; */
}

.login {
  margin-top: 4rem;
  justify-self: center;
  align-self: center;
}

form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6rem;
  flex-wrap: wrap;
  text-align: center;
}

.btn-login {
  margin-top: 6rem;
  padding: 1rem 6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: rgb(65, 65, 65);
  transform: translate(0, 0);
  transition: all 1s;
}

.btn-login:hover {
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 5px rgb(36, 64, 125);
  background-color: #31718f;
  transform: translate(0, -15%);
  transition: all 1s;
  cursor: pointer;
  color: #d8dfe2;
}

.btn-login:active,
.btn-login:link,
.btn-login:visited {
  box-shadow: 0 0 rgb(36, 64, 125);
  transform: translate(0, 0);
  transition: all 1s;
  cursor: pointer;
  padding: 1rem 9rem;
  color: rgb(65, 65, 65);
}
