* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
}

.img-cover {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-size: cover;
  opacity: 0.9;
}

.form {
  background-color: #f4f4f4cb;
  border: 0.35rem solid #555;
  border-radius: 2rem;
  height: 60rem;
  width: 50rem;
  position: absolute;
  top: 5rem;
  right: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.85; */
}

input {
  pad: 1rem;
  background-color: #f4f4f4;
  border: 0.35rem solid #555;
  border-radius: 1rem;
}

label {
  display: block;
  text-align: center;
}

form {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6rem;
  flex-wrap: wrap;
  text-align: center;
}
